
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<h5>Author information</h5>
<table class="table table-border">
    <tr>
        <th>Mã số sinh viên</th>
        <th>Họ tên</th>
        <th>Lớp</th>
    </tr>
    <tr>
        <td>2001215934</td>
        <td>Nguyễn Văn Lợi</td>
        <td>12DHTH15</td>
    </tr>
</table>

