@model Code_First___Technology_Products.ViewModel.addToOrderVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addToOrder</title>
</head>
<body>
    
</body>
</html>
